<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">

<resultMap type="productDTO" id="orderSelectMap">
  <id column="product_code" property="productCode"/>
  <result column="proposer_id" property="proposerId"/>
  <result column="product_name" property="productName"/>
  <result column="product_img" property="productImg"/>
  <result column="product_url" property="productUrl"/>
  <result column="product_qty" property="productQty"/>
  <result column="product_price" property="productPrice"/>
 <result column="requirement" property="requirement"/>
   <result column="product_desc" property="productDesc"/>
 <result column="requested_date" property="requestedDate"/>
  <result column="deadline_date" property="deadlineDate"/>
  <result column="depart_nation" property="departNation"/>
  <result column="arrival_nation" property="arrivalNation"/>
  <result column="trade_state" property="tradeState"/> 
</resultMap>

<insert id="insert" parameterType="productDTO">
insert into product (product_code, proposer_id, product_name, product_img, product_url, product_qty, product_price, 
requirement, product_desc, requested_date, deadline_date, arrival_nation)
values('p'||lpad(product_seq.nextval,10,'0'),#{proposerId} ,#{productName},#{productImg},#{productUrl},#{productQty},#{productPrice},#{productDesc}
#{requirement},sysdate,#{deadlineDate},#{departNation},#{arrivalNation} )
</insert>



 <delete id="delete"  parameterType="map">
DELETE  from product
where proposer_id=#{proposerId}  and product_code=#{productCode}
</delete> 

<select id="mySelect" resultMap="orderSelectMap" parameterType="String"> 
select product_code, proposer_id, product_name, product_img, product_price, deadline_date, depart_nation, arrival_nation, trade_state
 from product
where proposer_id=#{_parameter} and deadline_date &gt; sysdate
</select>

<update id="myUpdate" parameterType="productDTO">
update product set 
product_name=#{productName}, product_img=#{productImg}, product_url=#{productUrl}, product_qty=#{productQty}, product_price=#{productPrice}, 
requirement=#{requirement}, product_desc=#{productDesc}, deadline_date=#{deadlineDate}, depart_nation=#{departNation}, arrival_nation=#{arrivalNation}
where product_code=#{productCode} 
</update>

<select id="myDetail" parameterType="String" resultMap="orderSelectMap">
select product_code, proposer_id, product_name, product_img, product_qty, product_price, product_desc, requested_date, deadline_date,depart_nation, arrival_nation
from product
where product_code=#{_parameter}
</select>

<select id="myDeadline" resultMap="orderSelectMap" parameterType="String">
select product_code, proposer_id, product_name, product_img, product_price, deadline_date, depart_nation, arrival_nation, trade_state
 from product
where proposer_id=#{_parameter} and deadline_date &lt; sysdate
</select>


</mapper>